
.top{
  margin: 0 auto;
  width: 63%;
  border-bottom: 2px dashed @navigation-border;

  @media @phone{
    width:90%;
  }//closes 500px top
  h2{
    @media @phone{
      margin-top:2%;
    }
  }
}//closes top (header: welcome to fun bus)

.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @phone{
      .flex(flex-start, flex-start);
      flex-direction: column;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @phone{
        width:90%;
      }//closes 500px text-content
    }//closes content section text-content

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @phone{
        width:90%;
      }//closes 500px img-content

      img {
        border-radius: 10px;
      }//closes img-content img
    }//closes content section img-content
  }//closes home content section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @phone{
      display: flex;
      flex-direction: column-reverse;
    }//closes 500px inverse content

    .text-content {
      padding-left: 1%;
      padding-right: 0;

    }//close inverse content text-content

    .img-content {
      padding-right: 1%;
      padding-left: 0;

    }//closes inverse content img-content
  }//closes home inverse content

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @phone{
      width: 90%;
    }//closes 500px content destination

    img {
      border-radius: 10px;
    }//closes content destination img
  }//closes home content destination

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @phone{
      .flex(center,center);
      flex-direction: column;
    }//closes 500px content pick

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @phone{
        width:70%;
      }

      .btn{
        .Muffin();
      }//closes muffin button
    }//closes content pick destination
  }// closes home content pick
}// closes home