// Mixins in here

.flex(@just, @align){
    display:flex;
    justify-content: @just;
    align-items: @align;
}//closes flex-in


.Muffin(@back:@eastern-blue, @width: 95%, @font:@white){
    .flex(center, center);
    background-color: @back;
    width: @width;
    color: @font;
    height: 5rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    cursor: pointer;

    @media @phone{
        width: 100%;
        margin: 0 auto;
    }//closes 50rem muffin button
}//closes Muffin button

.m(){
    margin: 0 auto;
}//closes m

.mt(){
margin-top:1rem;
}//closes mt