// Navigation Styles here
nav{
    .flex(space-around, center);
    border-bottom: 1.5px dashed black;
    
    div{
        width: 20%;

        a{
            padding: 1%;
            margin: 0 5%;
            text-decoration: none;
            color: black;
        }//closes nav div a
    }//closes nav div
}//closes nav